.pink {
    color: #DB3998;
    margin-bottom: -16px;
}

.about {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    justify-content: center;
    margin: 60px 20px;
}

.about-grid {
    width: 400px;
    text-align: center;
}

.about-image {
    width: 600px;
    border-radius: 16px;
}

.img-container {
    width: 180px;
    height: 180px;
    position: flex;
    margin: auto;
}

.person-image {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    background-color: #f5f5f5;
}

.hover-person-image {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    background: linear-gradient(hsla(324, 100%, 46%, 0.8), hsla(216, 100%, 75%, 1));
}

.hover-person-image {
    display: none;
}

.img-container:hover {
    .person-image {
        display: none;
    }
    .hover-person-image {
        display: block;
    }
}