.pink {
    color: #DB3998;
    margin-bottom: -16px;
}

.about {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    justify-content: center;
    margin: 0 20px;
}

.about-grid {
    width: 400px;
    text-align: center;
}