*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Plus Jakarta Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, p, a, button {
    font-family: inherit;
}

.container-contacts{
    max-width: 1170px;
    list-style: none;
    display: grid;
    justify-content: center;
}

.list{
    margin: 15px 0 0 35px;
}

.list h4{
    font-size: 30px;
    margin-bottom: 15px;
}

.list li{
    margin-bottom: 15px;
    color: #1E1F27;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%;

}

.list li img{
    margin-right: 10px;
}

.contact-info{
    display: flex;
    margin-left: 25px;

}

.contact-info li img{
    margin: 10px;
}

.images img{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    justify-self: center;
    margin: 0;
}

.images {
    margin-right: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.images li img{
    margin: 10px;
}

.list a{
  font-size: 16px;
  text-decoration: none;
  color: #000000;
  transition: all 0.3s ease;
  margin-bottom: 10px;
}

/* @media(max-width: 767px){
    .container-contacts{
        width: 50%;
        margin-bottom: 30px;
    }

} */

@media(max-width: 574px){
    .container-contacts{
        width: 100%;
        
    }

}


