.cookie-col{
    display: flex;
    width: 390px;
    padding: 20px;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background-color: grey;
}

.cookie-text p {
    height: 42px;
    align-self: stretch;
    color: #171717;
    font-family: "Plus Jakarta Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px; /* 150% */
}

.cookie-text a{
    height: 21px;
    align-self: stretch;
    color: #171717;
    font-family: "Plus Jakarta Sans";
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px; /* 210% */
    text-decoration-line: underline;

}

.cookie-btn{
    display: flex;
height: 56px;
padding: 16px;
justify-content: center;
align-items: center;
gap: 8px;
align-self: stretch;
}

.btn-w{
    display: flex;
height: 56px;
padding: 16px;
justify-content: center;
align-items: center;
gap: 8px;
align-self: stretch;
border-radius: 20px;
border: 2px solid #504D59;
color: #504D59;
}

.btn-g{
    display: flex;
height: 56px;
padding: 16px;
justify-content: center;
align-items: center;
gap: 8px;
align-self: stretch;
border-radius: 20px;
background: #504D59;
color: white;
}

