*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1170px;
    margin: auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.row ul{
    list-style: none;
}

.footer{
    border-top: solid;
    border-top-color: rgba(77, 71, 71, 0.459);
    padding: 70px 0;
    margin: 50px 50px 0 50px;

}

.footer-col{
    width: 25%;
    padding: 0 15px;
}

.footer-col h4{
    font-size: 18px;
    color: #000000;
    margin-bottom: 10px;
    position: static;
}

.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    text-decoration: none;
    color: #000000;
    display: block;
    transition: all 0.3s ease;
    margin-bottom: 10px;

}
.footer-col ul li a:hover{
    color: #e92063;
    padding-left: 10px;
}

.footer-bottom {
    background-color: #000000;
    color:white;
    text-align: center;
    padding: 30px 0;
}

.footer-col .Sales{
    margin-top: 32px;
}

@media(max-width: 767px){
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }

}

@media(max-width: 574px){
    .footer-col{
        width: 100%;
        margin-left: 10px;
        
    }

}