
.footer-module {
    font-family: "Plus Jakarta Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.footer-col ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-col h4{
    font-size: 18px;
    color: #000000;
    margin-bottom: 10px;
    position: static;
}

.footer-col ul li a, .row-contacts ul li a{
    text-decoration: none;
    display: inline-flex;
    width: 100%;
    font-size: 16px;
    color: #000000;
    margin-bottom: 10px;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover , .row-contacts ul li a:hover{
    color: #e92063;
}

.footer-bottom {
    font-size: 10px;
    background-color: #000000;
    color:white;
    text-align: center;
    padding: 2% 2%;
}

.footer-col .Sales{
    color: #009a2e;
}

.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.payment-row ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.payment-row ul li {
    display: flex;
    justify-content: center;
    /* width: 25%; */
}

.social-svg {
    display: flex;
    flex-direction: row;
    width: 50%;
    gap: 10%;
    transition: none;
}

.footer-svg {
    padding-right: 6px;
}

.mobile-contacts {
    margin-bottom: 5%;
    padding-bottom: 5%;
    border-bottom: solid lightgrey;
}

.mobile-contacts ul {
    padding: 0;

}

.mobile-contacts ul li {
    list-style: none;
    margin-bottom: 5%;
}

#sale {
    margin-right: 4px;
}

@media(max-width: 768px){
    .footer-module {
        padding: 0 0 2% 0;
        margin: 0 5vw 0 5vw;
    }

    .footer-col{
        width: 40%;
        margin-bottom: 30px;
    }

    /* .payment-row img {
        width: 80%;
    } */
    .social-svg img {
        width: 50%;
    }

    .pc {
        display: none;
    }
}

@media(min-width: 769px){
    .footer-module {
        padding: 1% 0 2% 0;
        margin: 5vh 5vw 0 5vw;
    }

    .footer-col{
        width: 12%;
    }
    .mobile {
        display: none;
    }
    .pc-contacts {
        width: 25%;
    }
    .payment-row {
        margin: 3% 0;
        padding: 0 20%;
    }

    /* .payment-row img {
        height: 40px;
    } */

    .sales-col {
        width: 13%;
    }

    .footer-bottom {
        padding: 10px 10px;
    }
}