*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1170px;
    margin: auto;
}

.row ul{
    list-style: none;
}

.footer{
    border-top: solid;
    border-top-color: rgba(77, 71, 71, 0.459);
    padding: 10vw 0;
    margin: 5vh 5vw 0 5vw;

}

.footer-col{
    width: 25%;
}

.footer-col h4{
    font-size: 18px;
    color: #000000;
    margin-bottom: 10px;
    position: static;
}

.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    text-decoration: none;
    color: #000000;
    display: block;
    transition: all 0.3s ease;
    margin-bottom: 10px;

}
.footer-col ul li a:hover{
    color: #e92063;
    padding-left: 10px;
}

.footer-bottom {
    background-color: #000000;
    color:white;
    text-align: center;
    padding: 30px 0;
}

.footer-col .Sales{
    /*margin-top: 32px;*/
}

@media(max-width: 768px){
    .row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .footer-col{
        width: 40%;
        margin-bottom: 30px;
    }
}

@media(min-width: 769px){
    .row{
        display: flex;
        flex-wrap: wrap;
    }
    .footer-col{
        width: 20%;
        margin-left: 10px;
    }
}