.html {
    font-family: "Plus Jakarta Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

h1, h2, h3, h4, p, a, button {
    font-family: inherit;
}

.emptyModulePlace {
    background-color: rgb(109, 109, 109);
    color: white;
    display: flex;
    height: 30vh;
    justify-content: center;
    align-items: center;
}

.nav-pc {
    display: none;
}

@media (max-width: 767px) {
    .navbar-mobile {
        display: block;
    }

}

@media (min-width: 768px) and (max-width: 1023px) {
    .navbar-tablet {
        display: block;
    }
}

@media (min-width: 1024px) {
    .nav-pc {
        display: block;
    }
}