.plp-hor-slider {
    margin: 5vh 0 8vh;
}

.shop-all {
    text-transform: uppercase;
    color: #DB3998;
    border-bottom: 3px solid #DB3998;
    font-size: 12px;
    font-weight: 700;
    line-height: 24px;
}

.product-container {
    padding: 5%;
}

.sales-title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 4vw;
}

.product-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.product-image {
    width: 100%;
    height: 100%;
    background-color: #F5F5F5;
    border-radius: 5%;
}

.name {
    display: flex;
    color: black;
    line-height: 1.8;
    margin: 0;
}

.price {
    margin: 0;
}

.new-price {
    color: black;
    font-weight: 300;
    line-height: 1.75;
}

.old-price {
    color: darkgrey;
    font-weight: 100;
    line-height: 18px;
    text-decoration: line-through;
}

.wrap {
    display: flex;
    gap: 10px;
    align-items: center;
    margin: 0;
}

@media(max-width: 768px) {
    .scroll-container {
        display: flex;
        white-space: nowrap;
        scroll-snap-type: x mandatory;
        overflow-x: scroll;
    }

    .scroll-container::-webkit-scrollbar {
        display: none;
    }

    .product-container {
        width: 50vw;
    }

    .sales-title {
        margin-bottom: 12vw;
    }

    .product-image {
        width: 50vw;
        height: 50vw;
    }
}

@media (min-width: 769px) and (max-width: 991px) {
    .scroll-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
        margin: 0 5vh;
    }

    .sales-title {
        margin-bottom: 6vw;
    }
}

@media(min-width: 992px) {
    .scroll-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        margin: 0 5vh;
    }

    .sales-title {
        margin-bottom: 4vw;
    }
}
