.slide {
  display: grid;
  justify-content: center;
  align-items: center;
}

.slide-container{
    display: flex;
    height: calc(358px + 15vh);
    width: calc(768px + 40vw);
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

.slide-container img {
    image-rendering: optimizeQuality;
    width: 100%;
    overflow: hidden;
}

.title-i {
    display: flex;
    flex-direction: column;
    justify-self: center;
    justify-content: center;
}

.title-text {
  display: flex;
  justify-content: center;
    text-transform: uppercase;
  align-items: center;
    text-align: center;
    font-size: 25px;
  height: 180px;
    width: 600px;
  flex-shrink: 0;
  color: #171717;
}
.exp-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
  position: relative;
}
.exp-btns button {
  display: flex;
  width: 240px;
  height: 60px;
  padding: 16px 20px;
  font-size: 16px;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  justify-content: center;
  align-items: center;
}

.cl-btn {
  border: 2px solid var(--Black-text, #1e1f27);
  color: var(--Black-text, #1e1f27);
  background: white;
}

.sn-btn {
  border: none;
  color: var(--White, #fff);
  background: var(--Main-action, #db3998);
}
