.slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.swiper {
    width: 100%;
    height: auto;
    max-width: 600px;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: flex;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.swiper-pagination {
    display: none;
}

.main-imgr {
    display: flex;
    height: calc(358px + 15vh);
    width: calc(768px + 40vw);
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

.main-imgr img {
    image-rendering: optimizeQuality;
    width: 100%;
    overflow: hidden;
}

.title-i {
    display: flex;
    flex-direction: column;
}

.title-text {
    margin: 0 auto;
    text-transform: uppercase;
    align-items: center;
    text-align: center;
    color: #171717;
}

.title-text h1 {
    margin: 0;
}

.exp-btns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
    position: relative;
}

.exp-btns button {
    display: flex;
    cursor: pointer;
    transition: all 0.3s ease;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.cl-btn {
    border: 2px solid #1E1F27FF;
    color: #1E1F27FF;
    background: white;
}

.sn-btn {
    border: none;
    color: white;
    background: #db3998;
}

.slide-container {
    display: none;
}

@media (max-width: 768px) {
    .main-imgr {
        display: none;
    }

    .slide-container {
        display: block;
    }

    .title-text {
        width: 70%;
    }

    .exp-btns button {
        width: 44%;
        height: 50px;
        padding: 16px 20px;
        font-size: 16px;
        border-radius: 20px;
    }
}

@media (min-width: 769px) {
    .main-imgr {
        display: block;
    }

    .slide-container {
        display: none;
    }

    .title-text {
        font-size: 25px;
        height: 140px;
        width: 580px;
    }

    .exp-btns button {
        width: 240px;
        height: 60px;
        padding: 16px 20px;
        font-size: 16px;
        border-radius: 20px;
    }
}